@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_rz3116e36t.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_rz3116e36t.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_rz3116e36t.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_rz3116e36t.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_rz3116e36t.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_rz3116e36t.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
.web-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

html,body{
    height: 100%;
    margin: 0px;
}
body{
    /* background-image: url(./source/img/img_1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.bg{
    background-image: url(./source/img/img_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.bgImg{
    height: 50%;

}
.gradual{
    height: 30%;
    opacity: 0.5;
    background-color: white;

}
.panel{
    height: 20%;
    background-color:
    white;
    box-shadow: 0px -70px 85px 95px white;
}
/*歌曲信息*/
.g-musicCover{
    width: 170px;
    height: 170px;
    border: 2px solid rgb(193,102,51);
    background-image: url(./source/img/img_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 35%;
    left: 275px;
    background-position-x: -50px;
    border-radius: 1px;
}
.g-musicName{
    color: rgb(224,112,59);
    position: absolute;
    top: 50%;
    font-size: 37px;
    font-weight: bold;
    left: 455px;
}
.g-playIcon{
    width: 15px;
    position: absolute;
    top: 61%;
    left: 473px;
}
.g-singer{
    position: absolute;
    top: 60.3%;
    color: rgb(224,112,59);
    font-weight: bold;
    left: 495px;
}
.g-progressBar{
    position: absolute;
    top: 61.9%;
    width: 75px;
    border: 1px solid rgb(224,112,59);
    left: 580px;
}
.gpb-pointer{
    position: absolute;
    top: -7px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid rgb(224,112,59);
    height: 10px;
    background-color: white;
    left: -5px;
}
/*歌词*/
.g-lyrics{
    position: absolute;
    top: 68%;
    left: 275px;
    color: rgb(224,112,59);
    font-weight: bolder;
}
.gl-en{
    display: none;
}
.gl-cn{
    line-height: 40px;
    display: none;
}

/* .g-musicControls{

} */
.gmc-playOrStopButton{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 8%;
    left: 270px;
    background-image: url(./source/play.png);
    background-size: cover;
}
.gmc-musicEffect{
    position: absolute;
    top: 86.9%;
    left: 295px;
    /* border: 1px solid; */
}


.g-companyIcon{
    width: 315px;
    height: 55px;
    background-image: url(./source/companyIcon.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 85%;
    right: 85px;
}


/*ani*/
.ani-1{
    font-weight: normal;
}
.ani-2{
    top: -16px;
    position: relative;
}

.ani-1-1{
    letter-spacing: 3px;
    font-size: x-large;
}
.ani-1-2{
    letter-spacing: 3px;
}